
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="title">
        <h3>Ninja&trade; Professional Blender with Single Serve Blending Cups</h3>
      </div>
      <div class="images horizontal-center vertical-center">


        <img src="http://target.scene7.com/is/image/Target/14263758" width="380">

      </div>



    </div>
    <div class="col-12 col-md-6">
      <div class="price">
        <font class="large-font">$139.99</font> <font class="very-small-font">Online Price</font>
      </div>
      <div class="promotion">
        <hr />
        
        <ul>
          <li>
            SPEND $50, GET FREE SHIPPING
          </li>
          <li>
            $25 gift card with purchase of a select Ninja Blender
          </li>
        </ul>


        <hr />
      </div>
      <div class="quantity">

      </div>

      <div class="cart-buttons">
        <div class="row verticle-top">
          <div class="col-6 horizontal-center">
            <a href="#" class="btn btn-dark btn-block">PICK UP IN STORE</a>
            <p class="very-small-font"><strong><a href="#" class="gray-link">find in a store</a></strong></p>
          </div>
          <div class="col-6">
            <a href="#" class="btn btn-danger btn-block">ADD TO CART</a>
          </div>
        </div>
      </div>

      <div class="return-policy">
        <div class="row vertical-center save-div">
          <div class="vertical-center" style="width:auto">
            <h5>returns |</h5>
          </div>
          <div class="col vertical-center">
            <p class="very-small-font">
              This item must be returned withing 30 days of the ship date. See <a href="#" class="gray-link">return policy</a> for detals.<br> Prices, promotions, styles, and availability may vary by store and online.
            </p>
          </div>
        </div>
      </div>

      <div class="save-buttons">
        <div class="row">
          <div class="col-4 save-div">
            <a href="#" class="btn btn-light btn-sm btn-block">ADD TO REGISTRY</a>
          </div>
          <div class="col-4 save-div">
            <a href="#" class="btn btn-light btn-sm btn-block">ADD TO LIST</a>
          </div>
          <div class="col-4 save-div">
            <a href="#" class="btn btn-light btn-sm btn-block">SHARE</a>
          </div>
        </div>
      </div>

      <div class="product-highlights">
        <h2>Product Highlights</h2>
        <ul>
          <li><strong>Wattage Output:</strong> 1100 Watts</li>
          <li><strong>Number of Speeds:</strong> 3 </li>
          <li><strong>Capacity (volume):</strong> 72.0 Oz.</li>
          <li><strong>Appliance Capabilities:</strong> Blends</li>
          <li><strong>Includes:</strong> Travel Lid</li>
          <li><strong>Material:</strong> Plastic</li>
          <li><strong>Finish:</strong> Painted</li>
          <li><strong>Metal Finish:</strong> Chrome</li>
          <li><strong>Safety and Security Features:</strong> Non-Slip Base</li>
          <li><strong>Care and Cleaning:</strong> Easy-To-Clean, Dishwasher Safe Parts</li>
        </ul>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="reviews col-12 col-md-6">



    </div>
  </div>

</div>

