.myretail-container {
    padding:10px;
}
.item-border {
    padding: 10px;
}
.horizontal-center {
    text-align:center;
}
.vertical-center {
    vertical-align: middle !important;
    align-items: center;
}
.vertical-top {
    vertical-align: top !important;
}
.vertical-bottom {
    vertical-align: bottom  !important;
}
.very-small-font {
    font-size: 10px;
}
.large-font {
    font-size: 24px;
}
.gray-link {
    color: #696969;
}
p {
    margin: 0px;
}
.save-div {
    padding: 3px;
}