<div class="container">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="title">
        <h3>{{product.CatalogEntryView[0]?.title}}</h3>
      </div>
      <div class="images horizontal-center vertical-center">

        <div class="main-image horizontal-center">

          <div [ngStyle]="{ 'background-image': 'url(' + product.CatalogEntryView[0].Images[0].PrimaryImage[0].image + ')' }"  class="main-back">
            <img src="{{ theMainImage }}" width="380" height="380 "border="0">
          </div>
        </div>
        <div>
          <div
            ng2-carouselamos
            class="slides-wrapper"
            [items]="product.CatalogEntryView[0].Images[0]?.AlternateImages"
            [width]="900"
            [$prev]="prev"
            [$next]="next"
            [$item]="item"
          >
          </div>
          <ng-template #prev>
            <img src="../../assets/left-arrow.png" id="left" />
          </ng-template>
          <ng-template #next>
            <img src="../../assets/right-arrow.png" id="right" />
          </ng-template>
          <ng-template #item let-item let-i="index">
            <div class="thumbnails">
              <a (click)="mainImage(this.item.image)">
                <img src="{{ item.image }}" width="100">
              </a>
            </div>
          </ng-template>
      </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="price">
        <font class="large-font">{{product.CatalogEntryView[0].Offers[0].OfferPrice[0]?.formattedPriceValue}}</font> <font class="very-small-font">{{product.CatalogEntryView[0].Offers[0].OfferPrice[0]?.priceQualifier}}</font>
      </div>
      <div class="promotion">
        <hr /> 
        <ul>
          <ng-container *ngFor="let promo of product.CatalogEntryView[0]?.Promotions">
              <li [innerHTML]="promo.Description[0].shortDescription"></li>
          </ng-container>
        </ul>
        <hr />
      </div>
      <div class="quantity">
        <div class="row quantity-row">
          <div class="quantity-border">
            <div class="quantity-button">
              <div class="row vertical-center">
                <div class="col quantity-word">
                  <p>quantity:</p>
                </div>
                <div class="buttoners vertical-center">
                  <a (click)="quantityDecrease()"><img src="../../assets/minus.png" border="0" width="30" height="30"></a>
                    <strong>
                      {{quantity}}
                    </strong>
                  <a (click)="quantityIncrease()"><img src="../../assets/plus.png" border="0" width="30" height="30"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cart-buttons">
        <div class="row verticle-top padding-between">
          <div class="col-6 horizontal-center">
            <a href="#" class="btn btn-dark btn-block">PICK UP IN STORE</a>
            <p class="very-small-font"><strong><a href="#" class="gray-link">find in a store</a></strong></p>
          </div>
          <div class="col-6">
            <a href="#" class="btn btn-danger btn-block">ADD TO CART</a>
          </div>
        </div>
      </div>

      <div class="return-policy">
        <div class="row vertical-center padding-row">
          <div class="vertical-center" style="width:auto">
            <h5>returns |</h5>
          </div>
          <div class="col vertical-center">
            <p class="very-small-font">
              This item must be returned withing 30 days of the ship date. See <a href="#" class="gray-link">return policy</a> for detals.<br> Prices, promotions, styles, and availability may vary by store and online.
            </p>
          </div>
        </div>
      </div>
      <div class="save-buttons">
        <div class="row save-row">
          <div class="col-4 save-div">
            <a href="#" class="btn btn-light btn-sm btn-block"><small>ADD TO REGISTRY</small></a>
          </div>
          <div class="col-4 save-div">
            <a href="#" class="btn btn-light btn-sm btn-block"><small>ADD TO LIST</small></a>
          </div>
          <div class="col-4 save-div">
            <a href="#" class="btn btn-light btn-sm btn-block"><small>SHARE</small></a>
          </div>
        </div>
      </div>
      <div class="product-highlights">
        <h1>product highlights</h1>
          <ul class="product-list">
            <ng-container *ngFor="let feature of product.CatalogEntryView[0].ItemDescription[0]?.features">
              <li [innerHTML]="feature"></li>
            </ng-container>
          </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="reviews col-12 col-md-6">
    </div>
  </div>
</div>