.myretail-container {
    padding:10px;
}
.item-border {
    padding: 10px;
}
.horizontal-center {
    text-align:center;
}
.vertical-center {
    vertical-align: middle !important;
    align-items: center;
}
.vertical-top {
    vertical-align: top !important;
}
.vertical-bottom {
    vertical-align: bottom  !important;
}
.padding-row {
    padding: 15px;
}
.padding-between {
    padding-top: 15px;
    padding-bottom: 15px;
}
.very-small-font {
    font-size: 10px;
}
.large-font {
    font-size: 28px;
}
.gray-link {
    color: #696969;
}
p {
    margin: 0px;
}
.save-row{
    padding:12px;
}
.save-div {
    padding: 3px;
}
.promotion {
    color: red;
}
.promotion ul{
    list-style:none;
    margin: 0 0 1em 0;
    padding: 0;
}
.promotion ul li{
    line-height:1.3em;
    margin: 5px 0;
    padding: 0 0 0 28px;
    background:url('../../assets/shoptagico.png') no-repeat 0 1px;
}
.quantity-row {
    padding: 15px;
}
.quantity-border {
    width: 50%;
    padding-right:15px
}
.quantity-button {
    border: 1px;
    border-style: solid;
    border-color: gainsboro;
    border-radius: 3px;
    padding: 5px;
}
.quantity-word {
    width: 50%;
    padding: 5px 5px 5px 30px;
}
.quantity-word p {
    text-align: left;
    font-size: 12px;
    color: grey;
}